@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    color: #555555;
    margin-right: 2px;
}