@media screen and (max-width: 900px){
    .max-width-container{
        padding: 1.5rem;
        overflow: hidden;
    }

    div.mobile{
        display: flex !important;
    }

    div.web{
        display: none !important;
    }

    .mobile-50{
        width: 50px !important;
        height: 50px !important;
        min-width: 50px !important;
    }

    table {
        border: 0;
    }

    .tb-card {
        border: 0 !important;
        box-shadow: none !important;
        background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em !important;
        border: 1px solid rgba(0, 0, 0, .125);
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
        border-radius: .25rem;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: 400;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }

    td.num {
        padding: .25rem !important;
    }

    .dash.tb-card,
    .dash.ppp2 {
        padding: .5rem !important;
    }

    .flex-d-custom{
        flex-direction: column;
    }

    .s100-50{
        height: 50px;
        width: 50px;
        min-width: 50px;
    }
}