.feather {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 2px;
}

input[type=number] {
    -moz-appearance: textfield;
}

.round{
    border-radius: 50%;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.font-400{
    font-weight: 400 !important;
}

.font-500{
    font-weight: 500 !important;
}

.font-600{
    font-weight: 600 !important;
}

.width-100{
    width: 100%;
}

.height-500{
    height: 500px;
}

.max-width-container{
    width: 100%;
    max-width: 1280px;
    padding: 50px;
    margin: auto;
}

.no-text-decor{
    text-decoration: none;
}

.color-white{
    color: #fff !important;
}

.color-light{
    color: #69707a !important;
}

.color-darker-light{
    color: #666;
}

.color-black{
    color: rgb(54, 61, 71) !important;
}

.background-blue{
    background-color: #4b95ce;
}

.background-thicker-light{
    background-color: rgb(240, 240, 240)
}

.font-small{
    font-size: .875em !important;
}

.font-super--small{
    font-size: 10.3px;
}

.btn-light:hover{
    background-color: rgba(255, 255, 255, 0.76) !important;
}

.part-time, .part-time:hover{
    color: #ff6046 ;
    background: #ffd8d2;
    font-weight: 400;
    transition: 0.3s;
}

.hover-text-primary:hover, .hover-text-feather:hover > .feather{
    color: #0d6efd !important;
    transition: 0.4s;
}


.full-time, .full-time:hover{
    color: #0b5dd7b0;
    background-color: rgba(110, 170, 216, 0.726);
    font-weight: 400;
    transition: 0.3s;
}

.shadow-hover:hover{
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.192)!important;
}

.flex-middle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-break{
    flex-basis: 100%;
}

.fontsize-13{
    font-size: 13px !important;
}

.fontsize-14{
    font-size: 14px !important;
}