.feather {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 2px;
}

input[type=number] {
    -moz-appearance: textfield;
}

.round{
    border-radius: 50%;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-container img{
    height: 100%;
    /* width: auto; */
}

.font-400{
    font-weight: 400 !important;
}

.font-500{
    font-weight: 500 !important;
}

.font-600{
    font-weight: 600 !important;
}

.font-700{
    font-weight: 700 !important;
}

.min-h-200{
    min-height: 200px;
}

.max-h-200{
    max-height: 200%;
}

.mxw-900px{
    max-width: 900px;
}

.min-width-200{
    min-width: 200px;
}

.hw-100px{
    min-width: 100px;
    height: 100px;
    width: 100px;
}

.hw-50px{
    min-width: 50px;
    height: 50px;
    width: 50px;
}

.hw-100pcent{
    height: 100%;
    width: 100%;
}

.width-100{
    width: 100%;
}

.height-500{
    height: 500px;
}

.max-width-container{
    width: 100%;
    max-width: 1280px;
    padding: 50px;
    margin: auto;
}

.max-width-container-sm{
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    margin: auto;
}

.no-text-decor{
    text-decoration: none;
}

.color-white{
    color: #fff !important;
}

.color-light{
    color: #69707a !important;
}

.color-darker-light{
    color: #666;
}

.color-black{
    color: rgb(54, 61, 71) !important;
}

.background-blue{
    background-color: #4b95ce;
}

.background-thicker-light{
    background-color: rgb(240, 240, 240)
}

.font-small{
    font-size: .875em !important;
}

.font-super--small{
    font-size: 10.3px;
}

.btn-light:hover{
    background-color: rgba(255, 255, 255, 0.76) !important;
}

.btn-hover-primary:hover{
    background-color: #0d6efd !important;
    color: #fff !important;
}

.hover-text-underline:hover{
    text-decoration: underline !important;
}

.part-time, .part-time:hover{
    color: #ff6046 ;
    background: #ffd8d2;
    font-weight: 400;
    transition: 0.3s;
}

.hover-text-danger:hover, .hover-text-feather-danger:hover > .feather{
    color:#dc3545 !important;
}

.hover-text-primary:hover, .hover-text-feather:hover > .feather{
    color: #0d6efd !important;
    transition: 0.4s;
}

.margin-top-nav{
    margin-top: 74px;
}

.hover-bg-light:hover{
    background-color: #f8f9fa !important;
    transition: 0.4s;
}

.full-time, .full-time:hover{
    color: #0b5dd7b0;
    background-color: rgba(110, 170, 216, 0.726);
    font-weight: 400;
    transition: 0.3s;
}

.shadow-hover:hover{
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.192)!important;
}

.shadow-sm-hover:hover{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

.flex-middle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-break{
    flex-basis: 100%;
}

.fontsize-13{
    font-size: 13px !important;
}

.fontsize-14{
    font-size: 14px !important;
}

.fontsize-24{
    font-size: 24px !important;
}

.border-left-hover, .border-left-primary-2{
    position: relative;
}

.border-left-hover:hover::before, .border-left-primary-2::before{
    transition: 2s;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border: 2px solid #0d6efd;
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;  
    transition: 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
}

.bt-visible-primary-4{
    border-top: 4px solid #0d6efd !important;
}

.z-0{
    z-index: 0 !important;
}

.border-input{
    border: 1px solid #ced4da !important;
}

@media screen and (max-width: 961px){
    .max-width-container{
        padding-left: 20px;
        padding-right: 20px;
    }

    .m-flex-col{
        flex-direction: column;
    }
}

@media screen and (max-width: 740px){
    .flex-col-740{
        flex-direction: column;
    }
}
