#selectedFilterContainer a {
    padding: 0 0.25rem !important;
    display: none;
}

#selectedFilterContainer a.active {
    display: block;
}

#selectedFilter .feather {
    height: 14px !important;
    width: 14px !important;
}

#filter-top {
    width: 100%;
    height: 0.3rem;
}

@keyframes filterToggle {
    0% {
        opacity: 0;
        top: 0;
    }

    60% {
        top: 40px;
    }

    100% {
        opacity: 1;
        top: 36px;
    }
}


#filter-list-card {
    width: 300px;
    right: 0;
    transition: 0.4s;
    opacity: 1;
    display: none;
}

#filter-list-card.active {
    animation-name: filterToggle;
    animation-duration: 0.4s;
    top: 36px;
    display: block;
}

.max-width-container.form-alumni, .mx-900px{
    max-width: 900px;
}

.max-width-500px{
    max-width: 500px;
}

.max-width-container.header-div{
    height: 80px;
}

.form-main{
    padding-top: 100px;
}

.min-width-200{
    min-width: 200px;
}

.min-width-285{
    min-width: 285.417px;
}

form label.required:after {
    color: red;
    content: " *";
}

header.bg-primary{
    z-index: 99;
}

@media screen and (max-width: 800px){
    #form-header-name h5{
        font-size: 14px;
    }

    #form-header-name p{
        font-size: 12px !important;
    }

    #form-return-btn{
        display: none;
    }
}
