#candidate-navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

#footer-nav nav ul li a{
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

#footer-nav a:hover, #footer-nav a.opened {
    color: #0d6efd !important;
    border-color: #0d6efd !important;
}

.feather-20 .feather{
    height: 20px;
    width: 20px;
}

.bullets{
    list-style-type: disc;
}

div.jobs{
    height: 100%;
}

.jobs.bt-visible-primary-4{
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.date-posted{
    bottom: 1.5rem;
    right: 1.5rem;
}

#application-row-container{
    margin-right: calc(var(--bs-gutter-x)/ -5);
    margin-left: calc(var(--bs-gutter-x)/ -5);
}

@media screen and (max-width: 960px) {
    /* .search-box-container {
        flex-direction: column;
    }

    .min-50{
        min-width: 50px;
    } */
}




@media screen and (max-width: 1096px) {
    /* header nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0;
        padding: 0;
        padding-top: 50px;
        padding-bottom: 50px;
        border-bottom: 1px solid #dee2e6;
        border-top: 1px solid #dee2e6
    }

    header nav{
        display: block !important;
    }

    header nav ul li,
    #left button {
        margin-bottom: 30px;
    }

    #mobile--nav {
        flex-direction: column;
        justify-content: start !important;
        position: absolute;
        top: 74px;
        left: -100%;
        padding: 50px;
        padding-top: 20px;
        height: 100vh;
        background-color: #f8f9fa;
        transition: 0.8s;
        z-index: 50;
    }

    #mobile--nav.active{
        left: 0;
        transition: 0.84s;
    }

    #left {
        margin-top: 50px;
        margin-left: 0 !important;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #bars {
        display: block !important;
    }

    #nav-outer-container {
        width: 100%;
        justify-content: space-between;
    }

    .notification_web{
        display: none;
    } */

}

/* header nav{
    display: flex;
    align-items: center;
} */

#bars {
    display: none;

}

#mobile--nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}