#candidate-navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

#footer-nav nav ul li a{
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

#footer-nav a:hover, #footer-nav a.opened {
    color: #0d6efd !important;
    border-color: #0d6efd !important;
}

.feather-20 .feather{
    height: 20px;
    width: 20px;
}

.bullets{
    list-style-type: disc;
}

.jobs.bt-visible-primary-4{
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}